div[id^="beer-"] {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    /* border: solid 2px red; */
    height: 300px;
    margin: 10px 0px;
    justify-content: flex-end;
    padding-bottom: 0px !important;
}

div[id^="beer-"] .infoContainer {
    color: aliceblue;
    padding: 0px 20px;
    background-color: rgba(0, 0, 0, 0.8);
    max-height: 100px;
}

.percentageBar {
    border: solid 1px #ccc;
    border-radius: 50px;
}

.percentageBar::before {
    border-radius: 50px;
    content: '';
    display: flex;
    justify-content: end;
    width: calc(var(--percent) * 1%);
    height: 100%;
    background: rgba(138, 255, 36, 0.526);
    white-space: nowrap;
}

.percentageBar+span{
    position: relative;
    top: -20px;
    font-weight: bold;
}