<div fxLayout="row wrap" fxLayoutAlign="center none">
    <div 
        id="beer-{{beer.id}}" 
        *ngFor="let beer of beerList" 
        fxLayout="column" 
        fxFlex.lt-xl="20" 
        fxFlex.xl="20" 
        fxFlex.lg="25" 
        fxFlex.md="33" 
        fxFlex.sm="50" 
        fxFlex.xs="100"
    >
        <div class="imgContainer" fxLayoutAlign="center none" fxFlex="100">
            <img src="{{beer.image_url}}" alt="{{ beer.name }}"/>
        </div>
        <div fxLayoutAlign="center none" fxLayout="column" fxFlex="100" class="infoContainer">
            <h3 fxFlex="100" fxLayoutAlign="center none"> {{ beer.name }}</h3>
            <div fxFlex="100" fxLayoutAlign="center none"> Alcohol %: {{ beer.attenuation_level }}</div>
        </div>
    </div>
    <div *ngIf="beerList.length == 0" fxLayout="row" fxLayoutAlign="center none">
        No beers found with that name
    </div>
</div>