.search-container {
  margin: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 36px;
}

.error-message {
  font-size: x-large;
  color: #ff0000;
  margin: 0;
}

.poke-grid {
  display: grid;
  justify-content: center;
  gap: 32px;
}

.poke-card {
  width: 230px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  border: 2px solid #000;
  padding: 8px;
  position: relative;
}

.poke-card::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border: 2px dotted #cfcfcf;
}

.poke-card:hover {
  background-color: #cfcfcf;
  cursor: pointer;
}

.poke-card:active {
  background-color: #fff;
}

.poke-card img {
  width: 100%;
}

.poke-card-text {
  padding: 16px;
  text-align: center;
  font-size: x-large;
  font-weight: bold;
}

.pagination-container {
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .poke-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .poke-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .poke-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
