/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Raleway', sans-serif;
    padding: 0px;
    margin: 0px;
}

html, body {
    margin: 0;
    min-height: 100%;
    min-width: 100%;
    display: block;
    position: absolute;
    top: 0px;
    background-color: #72c2e9;
}